body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image:url('https://images.unsplash.com/photo-1529539795054-3c162aab037a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bG9naW58ZW58MHx8MHx8fDA%3D&w=1000&q=80'); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  /* SIGNUP CSS */
  .container {
    width: 90%;
    max-width: 450px;
    position: relative;
    margin-top: 30rem;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8); 
    padding:40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s;
  }
  
  
  .logo {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .email-input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #405de6;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 68px;
  }
  
  .submit-button:hover {
    background-color: #6a67ce;
  }
  
  .animation {
    width: 200px;
    margin-top: 20px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* OTP CSS */
.otp-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .otp-input {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .otp-sent-message {
    margin: 10px 0;
    color: #27ae60;
    font-size: 14px;
    text-align: center;
  }
.send-otp-button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #27ae60;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .send-otp-button:hover {
    background-color: #219653;
  }  
  